@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #272c2d;
  --foreground: #272c2d;
  --backgroundurl: url('../public/FullSizeRender.jpg');
}

body {
  color: white;
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
